# 4일차 실습
## 파이썬 라이브러리 - Pandas

### 판다스 라이브러리 설치하기

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in c:\python\python38\lib\site-packages (1.3.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python\python38\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in c:\python\python38\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.3 in c:\python\python38\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\python\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\python\Python38\python.exe -m pip install --upgrade pip' command.

### 판다스 설치 확인

In [ ]:
import pandas as pd

print(pd.__version__)

1.3.0

### 판다스 사용 사례(DataFrame)

### 1.딕셔너리 데이터를 표 형태로 보여주기

In [1]:
import pandas as pd

dics = {2001:[1,'가수1'], 2002:[2,'가수2'], 2003:[3,'가수3'],
       2004:[4,'가수4'], 2005:[5,'가수5'],}

df = pd.DataFrame(dics, index=['순위','대표가수'])
df.columns.name = '년도'
df

년도   2001 2002 2003 2004 2005
순위      1    2    3    4    5
대표가수  가수1  가수2  가수3  가수4  가수5

### 2. 사이킷런 빌트인 Dataset(Iris) 데이터 보여주기

In [3]:
from sklearn.datasets import load_iris

iris = load_iris()

df = pd.DataFrame(iris['data'], columns=iris['feature_names'])
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

### 3. csv파일 읽어와서 표 형태로 보여주기

In [4]:
df = pd.read_csv('data/iris.csv')
df

FileNotFoundError: ignored

## 1. Pandas 데이터 구조

### Series: 1차원 배열 형태
- **pandas.Series**(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

### DataFrame: 2차원 배열 형태
- **pandas.DataFrame**(data=None, index=None, columns=None, dtype=None, copy=None)

## 2. Series 객체

### Seires 데이터 만들기

In [ ]:
data = pd.Series(data=[4, 7, -5, 3])
print(data)
type(data)

pd.Series(data=[4, 7, -5, 3]).ndim
data

0    4
1    7
2   -5
3    3
dtype: int64

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
print(data.name)
print(data.index)
print(data.values)
print(data.dtype)
print(data.size)
data.values

data.name = '테스트'
data.index = ['a','b','c','d']
data

Number
Index(['a', 'b', 'c', 'd'], dtype='object')
[ 4  7 -5  3]
int64
4

a    4
b    7
c   -5
d    3
Name: 테스트, dtype: int64

#### - Sereis 만들기: 인덱스와  name 등 속성을 넣어서 정의하는 방법

In [ ]:
data = pd.Series(data=[4, 7, -5, 3], index=['a','b','c','d'],
                name='Number')
data

a    4
b    7
c   -5
d    3
Name: Number, dtype: int64

#### - 날짜를  Series로 만들기
- pandas.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=NoDefault.no_default, inclusive=None, **kwargs)

In [ ]:
data = pd.date_range('20220101', periods=10) # default freq='D'
data = pd.date_range('20220101', periods=10, freq='M')

data = pd.Series(data)
data

0   2022-01-31
1   2022-02-28
2   2022-03-31
3   2022-04-30
4   2022-05-31
5   2022-06-30
6   2022-07-31
7   2022-08-31
8   2022-09-30
9   2022-10-31
dtype: datetime64[ns]

#### - 딕셔너리로 Series 데이터 만들기

In [ ]:
data = {'국어':90,'영어':100,'수학':81}
data = pd.Series(data)

data.name = '성적표'
data.index.name = '과목'

#### - Series 인덱싱(Indexing) : 데이터에 접근하기

In [ ]:
data['수학']  # 인덱스명으로 해당하는 값 보요주기

81

In [ ]:
data['영어':'수학']

과목
영어    100
수학     81
Name: 성적표, dtype: int64

In [ ]:
data[['영어', '수학']]

과목
영어    100
수학     81
Name: 성적표, dtype: int64

In [ ]:
data[data > 90]

과목
영어    100
Name: 성적표, dtype: int64

In [ ]:
data[(data>80) & (data<100)]

과목
국어    90
수학    81
Name: 성적표, dtype: int64

In [ ]:
data = {'국어':[90,10],'영어':[100,10],'수학':[81,10]}
data = pd.Series(data)
data

국어     [90, 10]
영어    [100, 10]
수학     [81, 10]
dtype: object

In [ ]:
data['영어']

[100, 10]

### 시리즈 연산

In [ ]:
data1 = pd.Series({'국어':90,'영어':100,'수학':81,'과학':81})
data2 = pd.Series({'국어':80,'영어':80,'사회':70})
data1 - data2

과학     NaN
국어    10.0
사회     NaN
수학     NaN
영어    20.0
dtype: float64

In [ ]:
data2 - data1

과학     NaN
국어   -10.0
사회     NaN
수학     NaN
영어   -20.0
dtype: float64

### 시리즈에 요소 추가&삭제

In [ ]:
data1['미술'] = 100  # 요소 추가

del data1['영어']    # 요소 삭제

data1

국어     90
수학     81
과학     81
미술    100
dtype: int64

In [ ]:
a1 = list(range(1,10))
a2 = range(1,10)
print(a1)
print(a2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
range(1, 10)

### [실습] 시리즈 객체 만들기

In [ ]:
dates = pd.date_range('20220422', periods = 10)
date = pd.Series(dates)
date.name = '+d일 후'
date.index = [f'{x}일 후' for x in range(0,10)]
print(date)

#2
jeong = pd.Series({'age':26, 'height':172, 'floor':13})
kang = pd.Series({'age':25, 'height':173, 'floor':4})
data3 = jeong - kang
data3.name = 'jeong이 kang 보다 나은 점'
print(data3)

0일 후   2022-04-22
1일 후   2022-04-23
2일 후   2022-04-24
3일 후   2022-04-25
4일 후   2022-04-26
5일 후   2022-04-27
6일 후   2022-04-28
7일 후   2022-04-29
8일 후   2022-04-30
9일 후   2022-05-01
Name: +d일 후, dtype: datetime64[ns]
age       1
height   -1
floor     9
Name: jeong이 kang 보다 나은 점, dtype: int64

In [ ]:
#1
day_count = pd.Series({'웹개발1':23, '데이터분석1':9,'프로젝트1':11, '통계패키지':11, '머신러닝딥러닝':9, '프로젝트2':11,'데이터분석2':3,'웹개발2':11, '프로젝트3':12, '기업특강':4})
day_count.name = 'k-digital 과목별 수업일수'
print(day_count)

#2
stat = pd.date_range('20220419', periods=4)
stat = pd.Series(stat)
stat.name = '통계 수업일'
print(stat)

웹개발1       23
데이터분석1      9
프로젝트1      11
통계패키지      11
머신러닝딥러닝     9
프로젝트2      11
데이터분석2      3
웹개발2       11
프로젝트3      12
기업특강        4
Name: k-digital 과목별 수업일수, dtype: int64
0   2022-04-19
1   2022-04-20
2   2022-04-21
3   2022-04-22
Name: 통계 수업일, dtype: datetime64[ns]

## 3. DataFrame 객체
- pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)

### DataFrame 객체 정의하기

#### - 2차원 리스트 사용해서 만들기

In [ ]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

print(df.values)
print(df.index)
print(df.columns)

df

[[1 2 3]
 [4 5 6]
 [7 8 9]]
RangeIndex(start=0, stop=3, step=1)
RangeIndex(start=0, stop=3, step=1)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
                 index=['one','two','three'],columns=['C1','C2','C3'])

print(df.columns.name)
print(df.index.name)

df.name = '임시표'
df.columns.name = '컬럼'
df.index.name = '순서'

df

None
None

컬럼     C1  C2  C3
순서
one     1   2   3
two     4   5   6
three   7   8   9

#### - 딕셔너리를 이용해서 만들기

In [ ]:
scoreT = {'성명':['BTS','블랙핑크','아이유'],
         '국어':[80,90,100],
         '영어':[100,100,80]}

df = pd.DataFrame(scoreT)
df = pd.DataFrame(scoreT, index=['one','two','three'])

# DataFrame을 만들때 딕셔너리의 키 값을 이용해야한다.
#df = pd.DataFrame(scoreT, columns=['C1','C2','C3']) # DataFrame에 컬럼값을 가져오지 못함


# 컬럼명 변경
#df.columns = ['C1','C2','C3']

df

         성명   국어   영어
one     BTS   80  100
two    블랙핑크   90  100
three   아이유  100   80

In [ ]:
scoreT = {'성명':['BTS','블랙핑크','아이유'],
         '국어':[80,90,100],
         '영어':[100,100,80]}

df = pd.DataFrame(scoreT, index=['one','two','three'], 
                  columns=['국어','영어','성명'])

df

        국어   영어    성명
one     80  100   BTS
two     90  100  블랙핑크
three  100   80   아이유

In [ ]:
df.describe()

          국어          영어
count    3.0    3.000000
mean    90.0   93.333333
std     10.0   11.547005
min     80.0   80.000000
25%     85.0   90.000000
50%     90.0  100.000000
75%     95.0  100.000000
max    100.0  100.000000

In [ ]:
df.shape

(3, 3)

### DataFrame 복사하기

In [ ]:
scoreT = {'성명':['BTS','블랙핑크','아이유'],
         '국어':[80,90,100],
         '영어':[100,100,80],
         '수학':[90,80,100]}

df = pd.DataFrame(scoreT, index=['one','two','three'])
df

         성명   국어   영어   수학
one     BTS   80  100   90
two    블랙핑크   90  100   80
three   아이유  100   80  100

In [ ]:
df.iloc[:, 0:2]

         성명   국어
one     BTS   80
two    블랙핑크   90
three   아이유  100

In [ ]:
# df2 = df  # 메모리 동일 
# df2.columns = ['성명','S1','S2','S3']
# df

df3 = df.copy()   # 메모리 별도
df3.columns = ['성명','S1','S2','S3']
df

df4 = df.iloc[:, 0:2]  # df.copy()동일한 효과, 메모리 별도

df

         성명   국어   영어   수학
one     BTS   80  100   90
two    블랙핑크   90  100   80
three   아이유  100   80  100

### 데이터에 접근하기

#### - 행 접근

In [ ]:
df.loc['two']
df.iloc[1, :]

성명    블랙핑크
국어      90
영어     100
수학      80
Name: two, dtype: object

In [ ]:
df.head(2)   # 첫번째부터 5개(N)까지 행을 보여줘

       성명  국어   영어  수학
one   BTS  80  100  90
two  블랙핑크  90  100  80

In [ ]:
df.query(" 성명 == '블랙핑크' ")

       성명  국어   영어  수학
two  블랙핑크  90  100  80

#### - 열 접근

In [ ]:
df[['성명','영어']]

         성명   영어
one     BTS  100
two    블랙핑크  100
three   아이유   80

#### - 특정 행 & 열 접근

In [ ]:
df['성명'][1] 
df.iloc[1,0]

'블랙핑크'

### 데이터 (행, 열) 추가 & 삭제

#### - 열 추가하기

#### - 열 삭제하기

#### - 행 추가하기

In [ ]:
scoreT = {'성명':['BTS','블랙핑크','아이유'],
         '국어':[80,90,100],
         '영어':[100,100,80],
         '수학':[90,80,100]}

df = pd.DataFrame(scoreT, index=['one','two','three'])
df

         성명   국어   영어   수학
one     BTS   80  100   90
two    블랙핑크   90  100   80
three   아이유  100   80  100

In [ ]:
df_ = pd.DataFrame(data=[['나',100,100,100]], columns=df.columns, index=['four'])
df_

     성명   국어   영어   수학
four  나  100  100  100

In [ ]:
df_ = pd.DataFrame(data=[['나',100,100,100]], columns=df.columns, index=['four'])

# df = df.append(df_)  # pd.concat를 사용 권장
df = pd.concat([df, df_]) 
df

         성명   국어   영어   수학
one     BTS   80  100   90
two    블랙핑크   90  100   80
three   아이유  100   80  100
four      나  100  100  100

#### - 행 삭제하기

### 파일 읽어오기

#### - txt 파일 읽어오기
- pandas.read_table(filepath_or_buffer, sep=NoDefault.no_default, delimiter=None, header='infer', names=NoDefault.no_default, index_col=None, usecols=None, squeeze=None, prefix=NoDefault.no_default, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options=None)

In [ ]:
import pandas as pd

# 방법1
df = pd.read_table('data/data.txt', names=['숫자'])

# 방법2
df = pd.read_table('data/data.txt', header=None)
df.columns = ['숫자']

df

   숫자
0  91
1  91
2  54
3  47
4  88
5  87
6  84
7  97
8  70
9  82

In [ ]:
# 방법1
df = pd.read_table('data/book.txt', sep=',', 
                  names = ['제목','영어제목','저자','국적','출판년도'])

# 방법2
df = pd.read_table('data/book.txt', sep=',', header=None)
df.columns = ['제목','영어제목','저자','국적','출판년도']
df

            제목                      영어제목            저자    국적         출판년도
0     두 도시 이야기      A Tale of Two Cities        찰스 디킨스    영어         1859
1        어린 왕자           Le Petit Prince   앙투안 드 생텍쥐페리  프랑스어         1943
2       반지의 제왕     The Lord of the Rings   J. R. R. 톨킨    영어  1954 ~ 1955
3  그리고 아무도 없었다  And Then There Were None      애거사 크리스티    영어         1939
4           호빗                The Hobbit   J. R. R. 톨킨    영어         1937

#### - csv 파일 읽어오기

In [ ]:
import pandas as pd

#df = pd.read_csv('data/iris.csv')

# 한글 파일 깨짐 해결
df = pd.read_csv('data/weather_data.csv', encoding='cp949')
df.head()

,지점,지점명,일시,평균기온(°C),최고기온(°C),최저기온(°C),평균현지기압(hPa),평균상대습도(%),월합강수량(00~24h만)(mm),평균풍속(m/s),합계 일조시간(hr),최심적설(cm)
0,90,속초,1968-01-01,-0.7,11.4,-11.4,1018.2,47.0,0.0,2.1,218.6,NaN
1,90,속초,1968-02-01,-2.1,9.7,-9.9,1022.8,51.0,3.3,2.2,236.5,1.8
2,90,속초,1968-03-01,5.9,20.5,-3.2,1016.1,57.0,8.8,2.1,223.7,0.0
3,90,속초,1968-04-01,10.5,21.4,4.0,1019.4,63.0,6.9,2.0,255.7,NaN
4,90,속초,1968-05-01,14.6,24.5,9.3,1011.7,74.0,49.1,2.2,187.8,NaN

#### -  remote URL 파일 읽어오기

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
df = pd.read_csv(url)

df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

### 파일 저장하기

#### - csv 파일로 저장하기

In [ ]:
file = '적절한파일명.csv' 
df.to_csv(file, encoding='cp949', mode='w', index=True)

       0   1   2   3    4    5
six  왕경훈  90  90  95  100  100